# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Spring Boot
application-local.properties
application-local.yml

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*

# IDE
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Docker
docker/postgres-data/

# Env
.env
.env.local
*.env
